@{
    <!-- ViewData["Title"] = "Home Page"; -->
    Layout = "~/Views/Shared/_Layout.2.cshtml";
}

@*@section Scripts{
    @Scripts.Render("~/bundles/home")
}*@

@using (Html.BeginForm())
{
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div style="text-align:center;">
        <label>Sistema construído durante desenvolvimento </label>
        <br/>
        <label>da Monografia apresentada ao Programa de </label>
        <br/>
        <label>Pós-Graduação em Informática da Pontifícia </label>
        <br/>
        <label>Universidade Católica de Minas Gerais, como </label>
        <br/>
        <label>requisito parcial para obtenção do título de </label> 
        <br/>
        <label>Especialista em Arquitetura de Software Distribuído.</label>
    </div>
}

<br />