<ul class="nav navbar-nav">
    <li class="dropdown-menu">

        <a asp-area="" asp-controller="CadFuncionario" asp-action="Index">Cadastrar Funcionario</a>
        <a asp-area="" asp-controller="CadTarefa" asp-action="Index">Cadastrar Tarefa</a>

    </li>
</ul>
