/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #bcd2d0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#page-content
{
	background-color: transparent;
	padding-bottom: 70px;
    overflow-x: auto;
    min-height: 600px;
}

.titulo-modulo {
    font-family: 'Arial narrow';
    color: #081746;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
}

#stackTrace {
    width: 100%;
    height: 400px;
    resize: none;
}

#conteudo-pagina {
    /*padding: 0 1.5%;*/
    position: relative;
}

    #conteudo-pagina h1.titulo-pagina {
        border-bottom: 1px solid #bac6de;
        color: #759778;
        padding: 0 0 .2em;
        /*margin: 0 -1.5% 1.5em;*/
        font-size: 1.3em;
        font-weight: normal;
        line-height: 1.2;
    }

    #conteudo-pagina .botao-voltar-empregados {
        position: absolute;
        top: 0;
        right: 0;
    }



    .modal h2.titulo-tabela,
    #conteudo-pagina h2.titulo-tabela {
        line-height: 1.3em;
        min-height: 1.3em;
        margin: 0 0 .4em;
        font-size: 1.15em;
        color: #616d85;
        font-weight: normal;
        background: transparent url(img/bullet-titulo.png) no-repeat left .5em;
        padding: 0 0 0 14px;
        border: none;
    }

        #conteudo-pagina h2.titulo-tabela.pagamentos-mensais {
            background: none;
            padding: 0 0 15px 0;
        }

    #conteudo-pagina .destaque {
        color: #E79A08;
    }

    .ui-accordion .ui-accordion-header.titulo-tabela a
 {
display: inline;
padding: 0;
color: #E79A08;
}

h3.titulo {
    line-height: 1.3em;
    min-height: 1.3em;
    margin: 0 0 .4em;
    font-size: 1.45em;
    color: #616d85;
    font-weight: normal;
}

#main-content h2.titulo-tabela .btn-sm {
    float: right;
    padding: 0 15px;
    text-transform: none;
}

    #main-content h2.titulo-tabela .btn-sm i {
        margin-top: 1px;
    }

#main-content h2.titulo-tabela select {
    margin: 0;
    height: 1.5em;
    padding: 0;
    font-size: 1em;
    width: auto;
}


/* Noticias */
#conteudo-pagina h2.titulo-noticia {
    line-height: 1.3em;
    min-height: 1.3em;
    margin: 3em 0 .4em;
    font-size: 1.25em;
    color: #616d85;
    font-weight: normal;
    background: transparent url(img/bullet-titulo.png) no-repeat left center;
    padding: 0 0 0 14px;
}

#conteudo-pagina h1 + h2.titulo-noticia {
    margin-top: 0;
}

#footer {
    text-align: center;
}

.div-right {
    text-align: right;
}