<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monitorapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>

	<application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.monitorapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--created by 05163217658 at 2014-04-17 15:26:49-->
        <activity android:name=".WelcomeActivity"/>
        
        <!--created by 05163217658 at 2014-04-17 15:26:49-->
        <activity android:name=".ListarErroActivity"/>
		
        <!--created by 05163217658 at 2014-04-17 15:26:49-->
        <activity android:name=".ConfiguracaoActivity"/>
        
        <!--created by 05163217658 at 2014-04-17 15:26:49-->
        <activity android:name=".StacktraceActivity"/>
        
        
		<!--created by 05163217658 at 2014-04-17 15:26:49-->
        <provider android:authorities="com.example.monitorapp.provider.monitorprovider" android:name=".provider.MonitorProvider" />
        
        <receiver android:process=":remote" android:name=".util.Alarme"></receiver>
        
        <service android:name=".util.MonitorService"> <intent-filter>
 			<category android:name="android.intent.category.DEFAULT" /></intent-filter>
		</service>
        
    </application>
    
</manifest>
